In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/prvshnat/hsedata2425/refs/heads/main/data1.csv")


# Date	Duration	Activity	Topics	AI	Age	Level

In [40]:
df[(df["Duration"] > 2) & (df["Activity"] == "Reading")]["Level"].iloc[1]

'Intermediate'

In [48]:
df.loc[0, ["Duration", "AI"]]

Duration    3.28
AI          True
Name: 0, dtype: object

In [57]:
df[(df["Duration"] > 2) & (df["Activity"] == "Reading")].sort_values(["Duration", "Age"], ascending=[False, True])

,Date,Duration,Activity,Topics,AI,Age,Level
4310,2023-03-13 01:44:03,22.72,Reading,Technology and Gadgets; Online Shopping,True,14,Advanced
30702,2024-08-23 01:54:47,22.10,Reading,Technology in Education; Transportation and Co...,True,38,Beginner
8368,2022-10-09 12:40:09,20.71,Reading,Global Sustainability and Responsibility; Heal...,True,17,Beginner
2596,2023-10-03 15:42:27,19.65,Reading,Historical Lessons and Modern Applications; Na...,True,58,Beginner
40117,2022-03-05 12:56:23,18.71,Reading,Social Issues and Community; Energy Transition...,True,55,Beginner
...,...,...,...,...,...,...,...
31600,2022-06-17 02:45:14,2.01,Reading,Agricultural Sustainability and Food Security;...,True,39,Advanced
46293,2022-10-20 21:09:25,2.01,Reading,Weather and Climate; Volunteer Work and Social...,False,46,Beginner
16279,2024-10-24 03:51:11,2.01,Reading,Philosophy and Ethics; Entrepreneurial Venture...,True,50,Intermediate
2036,2023-08-01 19:11:25,2.01,Reading,Architecture and Urban Planning; Online Shoppi...,False,54,Beginner
43447,2022-09-13 05:54:01,2.01,Reading,Media and Entertainment; Social Issues and Com...,True,56,Advanced

In [63]:
df[df["Age"] < 25]

,Date,Duration,Activity,Topics,AI,Age,Level
2,2023-01-15 07:31:29,0.57,Listening,Music and Performing Arts; History and Histori...,False,24,Beginner
4,2024-11-13 08:52:04,3.89,Listening,Future Plans and Goals; Religious Practices an...,True,17,Intermediate
9,2024-04-18 22:50:53,5.07,Writing,Work and Career; Global Sustainability Goals,True,20,Beginner
10,2024-11-19 17:21:10,6.90,Speaking,Volunteer Opportunities and Social Change; Arc...,True,20,Beginner
15,2023-06-18 19:20:12,3.46,Speaking,Cultural Heritage; Entrepreneurship and Innova...,True,12,Beginner
...,...,...,...,...,...,...,...
48879,2024-11-03 16:57:04,1.82,Listening,Entrepreneurial Ventures and Startups; Energy ...,True,12,Beginner
48881,2023-04-05 08:16:16,2.58,Reading,Travel and Cultural Understanding; Leadership ...,True,15,Intermediate
48900,2024-08-24 06:14:22,0.62,Speaking,Language and Its Evolution; Energy Transition ...,True,23,Advanced
48910,2024-01-28 07:19:13,4.30,Listening,Architectural Innovations and Sustainability; ...,True,15,Intermediate
48912,2024-10-19 10:49:56,7.16,Speaking,Language and Its Cultural Significance; Educat...,True,15,Beginner

In [66]:
df[df["Activity"] == "Listening"].shape

(19477, 7)

In [76]:
df[(df["Activity"].isin(["Listening", "Reading"])) & (df["Duration"].between(1, 2))].sort_values(["Duration", "Age"], ascending=[True, False])

,Date,Duration,Activity,Topics,AI,Age,Level
31304,2022-11-01 06:58:13,1.0,Listening,Agricultural Sustainability and Food Security;...,True,59,Advanced
45034,2023-05-17 14:41:29,1.0,Listening,Leadership Skills and Development; Energy Effi...,True,59,Advanced
7399,2022-05-17 12:19:10,1.0,Reading,Nature and Environmental Protection; Philosoph...,True,58,Beginner
14155,2024-10-20 13:29:54,1.0,Listening,Global Sustainability Initiatives; Entrepreneu...,False,54,Beginner
41994,2022-09-14 12:51:19,1.0,Listening,Entrepreneurial Mindset and Success; Fashion T...,False,50,Intermediate
...,...,...,...,...,...,...,...
6160,2022-07-29 04:50:11,2.0,Reading,Sports and Physical Activities; Transportation...,False,17,Intermediate
35395,2022-12-26 17:50:51,2.0,Listening,Agricultural Sustainability and Food Productio...,True,14,Beginner
14726,2022-11-04 14:32:36,2.0,Listening,Religious Diversity and Tolerance; Agricultura...,True,13,Beginner
18851,2024-03-29 15:33:50,2.0,Reading,Travel and Its Educational Value; Water Resour...,False,11,Advanced
15263,2023-08-29 08:23:53,2.0,Listening,Philosophical Inquiry and Reflection; Tourism ...,True,10,Beginner

In [82]:
df["final"] = [x * y for x, y in zip(df['Duration'], df["Age"])]

df.sort_values(["final"], ascending=True)

,Date,Duration,Activity,Topics,AI,Age,Level,final
4150,2024-12-17 19:37:55,0.03,Writing,Fashion and Style; Globalization and Internati...,True,12,Intermediate,0.36
6549,2023-11-08 17:14:15,0.04,Listening,Leadership and Management; Tourism and Its Eco...,True,10,Intermediate,0.40
36394,2022-05-21 22:36:17,0.01,Writing,Philosophical Questions and Debates; Leadershi...,False,44,Beginner,0.44
19042,2024-06-01 18:21:36,0.03,Listening,Weather and Climate; Personal Beliefs and Values,True,16,Beginner,0.48
41873,2024-01-09 03:45:32,0.05,Listening,Energy and Renewable Resources; Art and Its Th...,False,12,Beginner,0.60
...,...,...,...,...,...,...,...,...
30766,2024-11-03 02:26:45,19.21,Speaking,Food and Cuisine; Rural Life and Agriculture,True,56,Advanced,1075.76
3499,2022-09-10 00:41:16,19.51,Speaking,Volunteerism and Community Building,True,56,Beginner,1092.56
42657,2023-10-05 22:17:59,20.65,Listening,Transportation and Commuting; Public Transport...,True,55,Beginner,1135.75
2596,2023-10-03 15:42:27,19.65,Reading,Historical Lessons and Modern Applications; Na...,True,58,Beginner,1139.70
30128,2022-03-11 06:31:31,22.80,Speaking,Water Conservation Methods; Nature Conservatio...,True,56,Advanced,1276.80

In [88]:
df.info

<bound method DataFrame.info of                       Date  Duration   Activity  \
0      2023-10-28 00:56:18      3.28   Speaking
1      2023-02-22 01:55:58      8.56  Listening
2      2023-01-15 07:31:29      0.57  Listening
3      2022-07-15 09:07:34      1.53    Writing
4      2024-11-13 08:52:04      3.89  Listening
...                    ...       ...        ...
48908  2024-05-18 06:50:47      5.13    Reading
48909  2024-01-20 15:48:46      0.49   Speaking
48910  2024-01-28 07:19:13      4.30  Listening
48911  2023-11-29 16:04:26      4.00    Reading
48912  2024-10-19 10:49:56      7.16   Speaking

                                                  Topics     AI  Age  \
0      Future Plans and Goals; Leadership Skills and ...   True   48
1      Art and Creativity; Movies and Cinema; Travel ...   True   38
2      Music and Performing Arts; History and Histori...  False   24
3      Religious Diversity and Tolerance; Philosophic...   True   52
4      Future Plans and Goals; Religious Practices an...   True   17
...                                                  ...    ...  ...
48908  Philosophical Perspectives on Life; Agricultur...   True   37
48909  Art and Its Therapeutic Benefits; Environment ...   True   29
48910  Architectural Innovations and Sustainability; ...   True   15
48911  Agricultural Sustainability and Food Security;...   True   35
48912  Language and Its Cultural Significance; Educat...   True   15

              Level   final
0          Beginner  157.44
1      Intermediate  325.28
2          Beginner   13.68
3          Advanced   79.56
4      Intermediate   66.13
...             ...     ...
48908      Beginner  189.81
48909      Beginner   14.21
48910  Intermediate   64.50
48911  Intermediate  140.00
48912      Beginner  107.40

[48913 rows x 8 columns]>

In [93]:
df["Age"] = df["Age"].astype(float)
df

,Date,Duration,Activity,Topics,AI,Age,Level,final
0,2023-10-28 00:56:18,3.28,Speaking,Future Plans and Goals; Leadership Skills and ...,True,48.0,Beginner,157.44
1,2023-02-22 01:55:58,8.56,Listening,Art and Creativity; Movies and Cinema; Travel ...,True,38.0,Intermediate,325.28
2,2023-01-15 07:31:29,0.57,Listening,Music and Performing Arts; History and Histori...,False,24.0,Beginner,13.68
3,2022-07-15 09:07:34,1.53,Writing,Religious Diversity and Tolerance; Philosophic...,True,52.0,Advanced,79.56
4,2024-11-13 08:52:04,3.89,Listening,Future Plans and Goals; Religious Practices an...,True,17.0,Intermediate,66.13
...,...,...,...,...,...,...,...,...
48908,2024-05-18 06:50:47,5.13,Reading,Philosophical Perspectives on Life; Agricultur...,True,37.0,Beginner,189.81
48909,2024-01-20 15:48:46,0.49,Speaking,Art and Its Therapeutic Benefits; Environment ...,True,29.0,Beginner,14.21
48910,2024-01-28 07:19:13,4.30,Listening,Architectural Innovations and Sustainability; ...,True,15.0,Intermediate,64.50
48911,2023-11-29 16:04:26,4.00,Reading,Agricultural Sustainability and Food Security;...,True,35.0,Intermediate,140.00
48912,2024-10-19 10:49:56,7.16,Speaking,Language and Its Cultural Significance; Educat...,True,15.0,Beginner,107.40

In [98]:
df[["Age", "Duration", "AI"]]

        Age  Duration     AI
0      48.0      3.28   True
1      38.0      8.56   True
2      24.0      0.57  False
3      52.0      1.53   True
4      17.0      3.89   True
...     ...       ...    ...
48908  37.0      5.13   True
48909  29.0      0.49   True
48910  15.0      4.30   True
48911  35.0      4.00   True
48912  15.0      7.16   True

[48913 rows x 3 columns]

In [108]:
df.iloc[0, 0]

'2023-10-28 00:56:18'

In [114]:
df.loc[0, "Age"]

48.0

In [127]:
df.iloc[:3, :4:2]

                  Date   Activity
0  2023-10-28 00:56:18   Speaking
1  2023-02-22 01:55:58  Listening
2  2023-01-15 07:31:29  Listening

In [140]:
df.drop_duplicates(["Age", "Activity"])

,Date,Duration,Activity,Topics,AI,Age,Level,final
0,2023-10-28 00:56:18,3.28,Speaking,Future Plans and Goals; Leadership Skills and ...,True,48.0,Beginner,157.44
1,2023-02-22 01:55:58,8.56,Listening,Art and Creativity; Movies and Cinema; Travel ...,True,38.0,Intermediate,325.28
2,2023-01-15 07:31:29,0.57,Listening,Music and Performing Arts; History and Histori...,False,24.0,Beginner,13.68
3,2022-07-15 09:07:34,1.53,Writing,Religious Diversity and Tolerance; Philosophic...,True,52.0,Advanced,79.56
4,2024-11-13 08:52:04,3.89,Listening,Future Plans and Goals; Religious Practices an...,True,17.0,Intermediate,66.13
...,...,...,...,...,...,...,...,...
1043,2024-08-23 07:47:46,7.72,Writing,Entrepreneurship and Business; Leadership and ...,True,29.0,Advanced,223.88
1200,2024-07-18 12:39:06,5.38,Reading,Philosophical Perspectives on Life; Travel and...,False,55.0,Intermediate,295.90
1246,2022-10-11 00:37:28,1.46,Writing,Energy Transition and Renewables; Global Susta...,True,18.0,Advanced,26.28
1572,2022-03-24 16:08:31,2.19,Writing,Science and Technological Advancements; Langua...,True,51.0,Advanced,111.69
1721,2023-03-02 07:39:27,2.34,Writing,Volunteerism and Its Social Impact; Water Mana...,True,43.0,Intermediate,100.62

In [143]:
df["final"] = (df["Age"] * df["Duration"])
df

,Date,Duration,Activity,Topics,AI,Age,Level,final
0,2023-10-28 00:56:18,3.28,Speaking,Future Plans and Goals; Leadership Skills and ...,True,48.0,Beginner,157.44
1,2023-02-22 01:55:58,8.56,Listening,Art and Creativity; Movies and Cinema; Travel ...,True,38.0,Intermediate,325.28
2,2023-01-15 07:31:29,0.57,Listening,Music and Performing Arts; History and Histori...,False,24.0,Beginner,13.68
3,2022-07-15 09:07:34,1.53,Writing,Religious Diversity and Tolerance; Philosophic...,True,52.0,Advanced,79.56
4,2024-11-13 08:52:04,3.89,Listening,Future Plans and Goals; Religious Practices an...,True,17.0,Intermediate,66.13
...,...,...,...,...,...,...,...,...
48908,2024-05-18 06:50:47,5.13,Reading,Philosophical Perspectives on Life; Agricultur...,True,37.0,Beginner,189.81
48909,2024-01-20 15:48:46,0.49,Speaking,Art and Its Therapeutic Benefits; Environment ...,True,29.0,Beginner,14.21
48910,2024-01-28 07:19:13,4.30,Listening,Architectural Innovations and Sustainability; ...,True,15.0,Intermediate,64.50
48911,2023-11-29 16:04:26,4.00,Reading,Agricultural Sustainability and Food Security;...,True,35.0,Intermediate,140.00
48912,2024-10-19 10:49:56,7.16,Speaking,Language and Its Cultural Significance; Educat...,True,15.0,Beginner,107.40